<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="local_websocket" value="ws://127.0.0.1:13528" />
    <add key="gethost_url" value="{{gethost_url}}" />
    <add key="app_id" value="{{app_id}}" />
    <add key="app_secret" value="{{app_secret}}" />
    <add key="time_out_second" value="30" />
  </appSettings>
</configuration>